* {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}
*[href],label {
  color:green;
}


main {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  row-gap:100px;
  column-gap:50px;
  border-style: solid;
  border-width:10px;
  border-radius:100px;
  border-color:rgb(111,111,111);
  margin: 10px 0px 70px 0px;
  padding: 10px 10px 500px 10px;
  
}
header > h2  {
  font-weight:1000;
}
#comment {
  text-align:center;
  background-color:hsla(93, 10%, 14%, 0.5);
  margin: 1% 30% 1% 40%;
  
  max-width:70%;
}
main h3 {
  font-weight:900;
}
.centertext {
  text-align:center;
}
#attend {
  margin:auto;
  padding: 5% 0% 5% 0%;
  height:100px;
  min-width:10%;
  
}
main:hover {
  
  background-image: url("https://wjactv.com/resources/media/d60d4f1c-9fcc-4ae4-8058-05e885080e19-jumbo3x4_momo2.PNG?1551379953682");
  background-size:cover;
}
main:active {
  
  background-image:url();
}
footer {
  display:grid;
  grid-template-columns: auto auto auto;
  column-gap:10px;
  justify-items:center;
}
h3 ~ ul{
  text-decoration:line-through
}
h3 + div {
  text-decoration:line-through;
}

